/* FORM ELEMENTS */
.radio,
.checkbox {
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  width: 100%;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: 0px;
}
input[type=radio],
input[type=checkbox] {
  margin: 2px 0px 0px;
}
.checkbox.pull-left,
.checkbox.pull-right,
.radio.pull-left,
.radio.pull-right {
  width: auto;
}
.form-control {
  height: 30px;
  font-size: 12px;
  line-height: 18px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  border: 1px solid #D5D5D5;
  background: #F9F9F9;
  padding: 0 0 0 0px;
}
.form-control:focus {
  border-color: #C5C5C5;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  
  background: #FFF;
}
.form-control[disabled],
/*.form-control[readonly] {
  color: #7B7B7B;
} */
.form-control[disabled]:focus,
.form-control[readonly]:focus {
  background: #EEE;
  color: #CCC;
  border-color: #D5D5D5;
}
.input-group-addon {
  border-color: #33414e;
  background-color: #33414e;
  font-size: 13px;
  padding: 0px 10px;
  line-height: 28px;
  color: #FFF;
  text-align: center;
  min-width: 36px;
}
.input-group-addon,
.input-group-btn {
  vertical-align: bottom;
}
.form-group:last-child {
  margin-bottom: 0px;
}
.form-group-separated {
  border-top: 1px dashed #D5D5D5;
}
.form-group-separated .form-group {
  border-bottom: 1px dashed #D5D5D5;
  margin-bottom: 0px;
}
.form-group-separated .form-group [class^="col-md-"] {
  border-left: 1px dashed #D5D5D5;
  padding: 12px 10px;
}
.form-group-separated .form-group [class^="col-md-"]:first-child {
  border-left: 0px;
}
.form-group-separated .form-group:last-child {
  border-bottom: 0px;
}
.form-group-separated .form-group.form-group-border-right [class^="col-md-"] {
  border-left: 0px;
  border-right: 1px dashed #D5D5D5;
}
.form-group-separated .form-group.form-group-border-right [class^="col-md-"]:last-child {
  border-right: 0px;
  margin-left: 0px;
}
.form-group-separated.panel-body,
.form-group-separated.modal-body {
  padding: 0px;
}
.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}
.form-horizontal .control-label {
  line-height: 30px;
  padding-top: 0px;
}
.help-block {
  color: #AAB2BD;
  margin-bottom: 0px;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -2px;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  font-size: 16px;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  font-size: 11px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 0;
}
.has-feedback label ~ .form-control-feedback {
  top: 20px;
}
/* FORM VALIDATION STATES */
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success .form-control-feedback {
  color: #95b75d;
}
.has-success .form-control {
  border-color: #95b75d;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning .form-control-feedback {
  color: #fea223;
}
.has-warning .form-control {
  border-color: #fea223;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error .form-control-feedback {
  color: #b64645;
}
.has-error .form-control {
  border-color: #b64645;
}
/* EOF FORM VALIDATION STATES */
.form-control.error,
.bootstrap-select.error > button {
  border-color: #b64645;
}
label {
  font-weight: 600;
}
label.error,
label.valid {
  color: #b64645;
  margin-bottom: 0px;
  margin-top: 3px;
  font-size: 11px;
  font-weight: normal;
  width: 100%;
}
.form-control.valid,
.bootstrap-select.valid > button {
  border-color: #95b75d;
}
label.valid {
  color: #95b75d;
}
.control-label.text-left {
  text-align: left;
}
/* EOF FORM ELEMENTS */
/* LABELS AND BADGES */
.label {
  font-weight: 500;
}
.badge {
  font-size: 11px;
  line-height: 20px;
  font-weight: 500;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 0px 8px;
}
.label-primary,
.badge-primary {
  background-color: #33414e;
}
.label-success,
.badge-success {
  background-color: #95b75d;
}
.label-info,
.badge-info {
  background-color: #3fbae4;
}
.label-warning,
.badge-warning {
  background-color: #fea223;
}
.label-danger,
.badge-danger {
  background-color: #b64645;
}

input[type="file"]:disabled::-webkit-file-upload-button,
optgroup:disabled, option:disabled, select[disabled] > option {
color: #DCDCDC  !important;
}
/* EOF LABELS AND BADGES */